@charset "UTF-8";

.wrapper {
  background-color: #eee;
}
.head {
  align-items: center;
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  background-color: #ff9800;
  box-shadow: 0 1.5px 1.5px 0px rgb(167, 165, 165);
}

.head div:first-child {
  margin-right: auto;
}

.foot {
  height: 60px;
  background-color: #141f40;
}

.main-wrapper {
  padding: 30px 10px;
}

.logo {
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}

.menu {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.item {
  /* align-items: center; */
  margin: 5px 0;

  /* justify-content: space-between; */
  width: 100px;
  height: 100px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 0 #ccc;
}
/* 
.item:first-child {
  margin-top: 0;
} */

.col {
  /* margin-top: -10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
